
@if (Global.Logged)
{
    switch (AccountManager.Role)
    {
        case 1: @Html.ActionLink("Личный кабинет", "IndexAdmin", "Home", new { area = "" }, new { @class = "navbar-nav navbar-right" }); break;
        case 2: @Html.ActionLink("Личный кабинет", "IndexManager", "Home", new { area = "" }, new { @class = "navbar-nav navbar-right" }); break;
        case null: @Html.ActionLink("Личный кабинет", "IndexUser", "Home", new { area = "" }, new { @class = "navbar-nav navbar-right" }); break;
    }

using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
@Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right">
    <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
</ul>
}
}
else
{
<ul class="navbar-nav navbar-right">
    <li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
}
